{% extends 'patient/patientbase.html' %}
{% block content %}
{% load static %}
<head>
    <style>
            .xyz{     
        color: blue; 
        font-size: 3ex;   
    }
    </style>
</head>
<br><br>
<body style="background-image: url('{% static "image/image1.jpg" %}'); background-repeat:  ; background-size: auto;">
<!------------>
<div><div class="row">
  <div class="col mb-2">
    <div class="card">
      <img src="{% static "image/Request.png" %}" height=300px;class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Request Made</h5>
          <div>
                <p>Number of Request:
                    {{requestmade}}</p>
              </div>
      </div>
    </div>
  </div>
  <div class="col mb-2">
    <div class="card">
      <img src="{% static "image/Pending.jpg" %}" height=315px; class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pending Request </h5>
          <div>
                    Number of Pending Request:
                    {{requestpending}}
                </div>

      </div>
    </div>
  </div>
  </div>
</div>



<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "image/Approved.png" %}" height=300px;class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Approved Request</h5>
          <div>
                       Number of Approved Request:
                      {{requestapproved}}
                  </div>

      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static "image/Rejected.jpg" %}" height= 300px;class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rejected Request</h5>
           <div>
                       Number of Rejected Request:
                      {{requestrejected}}
                  </div>

      </div>
    </div>
  </div>
  </div>
</div>
<!---------------->


    </div>
</div>

</body>
{% endblock content %}
